@import url('https://fonts.googleapis.com/css2?family=Rye&display=swap');

body {
  font-family: 'Rye', cursive !important;
}

.App {
  text-align: center;
  background-color: rgb(224, 224, 224);
}

#bg-top {
  position: relative;
  height: 100vh;
  width: 100vw;
  background: url('./images/middle-earth.jpg');
  background-size: cover;
}

#image-arda {
  max-height: 550px;
  margin-bottom: 15px;
}
#main-content {
  margin: auto 5px;
  border-top: 2px solid black;
}
